<section
  class="relative w-full h-[calc(100vh-56px)] bg-black flex flex-col justify-end overflow-hidden pb-12 px-6 md:px-16">
  
  <div class="absolute inset-0 flex justify-center items-center">
    <img src="omega-hero.webp" alt="Premium Watch" fetchpriority="high" loading="eager"
      class="w-full h-full object-cover md:object-cover drop-shadow-2xl ">
    <div class="absolute inset-0 bg-gradient-to-t from-black via-black/60 to-transparent"></div>
    <div class="absolute inset-0 bg-gradient-to-r from-black/50 to-transparent md:hidden"></div>
  </div>

  
  <div
    class="relative z-10 w-full max-w-[1400px] mx-auto flex flex-col md:flex-row md:items-end justify-between gap-8 md:gap-6 mb-8 md:mb-0">
    <div>
      <div class="flex items-center gap-2 mb-2">
        <svg class="w-4 h-4 text-white" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
          <circle cx="12" cy="12" r="10"></circle>
          <polyline points="12 6 12 12 16 14"></polyline>
        </svg>
        <span class="text-xs font-bold tracking-widest text-[#f5f5f7]">OMEGA SEAMASTER</span>
      </div>
      <h1 class="text-5xl md:text-7xl lg:text-8xl font-bold tracking-tight text-white max-w-2xl leading-none">
        Excellence<br /> redefines<br /> time.
      </h1>
    </div>

    
    <div class="flex items-center bg-[#1d1d1f]/80 backdrop-blur-md rounded-full p-1 pl-5 w-fit border border-white/20">
      <span class="text-sm font-medium mr-5 text-[#a1a1a6]">From 4,500 RON</span>
      <button (click)="navigate.emit('catalog')"
        class="bg-[#0071e3] text-white px-8 py-3 rounded-full text-sm font-semibold hover:bg-[#0077ED] transition-colors shadow-lg">
        Pre-order
      </button>
    </div>
  </div>
</section>